<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">
<header>
    <nav>
        <section class="headpanel">
            <span class="home">
                <a href="{{ base_path }}/index.html"><img src="{{ base_path }}/content/ui/ic_fluent_home_16_color.svg"> Home</a>
            </span>
            <span class="links">
                <a href="{{ base_path }}/projectie.html"><img src="{{ base_path }}/content/ui/ic_fluent_content_view_16_color.svg">Codename "Internal Eternal"</a>
                <a href="{{ base_path }}/miniprojects.html"><img src="{{ base_path }}/content/ui/ic_fluent_apps_16_color.svg">Miniprojects</a>
                <a href="{{ base_path }}/scp-projects.html"><img src="{{ base_path }}/content/ui/ic_fluent_document_folder_16_color.svg">SCP projects</a>
                <a href="{{ base_path }}/about.html"><img src="{{ base_path }}/content/ui/ic_fluent_person_16_color.svg">About</a>
            </span>

        </section>
    </nav>
</header>
<main>
    <h1>{{ title }}</h1>
{{ content }}
</main>
<div id="safeFooter">
<section>
    <p>&copy; {{ current_year }} Yni Viar. Content licensed under CC-BY 4.0, unless otherwise stated.</p>
    <p>The website is made by Makesite.py static website generator</p>
    <p>The website is hosted on {{ host_name }}</p>
</section>
</div>

</body>
</html>
